POSTGRES_DB=logitrack
POSTGRES_USER=logitrack
POSTGRES_PASSWORD=logitrack
GRAFANA_ADMIN_PASSWORD=admin
NEXT_PUBLIC_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty
ROUTING_PROVIDER=osrm
OSRM_BASE_URL=https://router.project-osrm.org
ROUTING_TIMEOUT_SECONDS=2.5
TRACING_SAMPLING_PROBABILITY=1.0
OTLP_TRACING_ENDPOINT=http://localhost:4318/v1/traces
